body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px
}
.header {
  color: Navy;
  text-align: center;
  font-size:3vw;
}

.menu {
  font-size:5vw;
  list-style-type: none;
  text-align: center;
  justify-content: center;
}
